<main>
    <div class="border-none pt-4">
        <hr class="border-black">
        <div class="flex gap-32 justify-center py-3">
            <button>
                <a href="/assignments.html"><img src="../images/home.png" width="40px" height="40px"></a>
            </button>
            <button>
                <a href="/discussion.html"><img src="../images/comment.png" width="40px" height="40px"></a>
            </button>
            <button>
                <a href="/notificationsDynamic.html"><img src="../images/notification.png" width="40px" height="40px"></a>
            </button>
        </div>
    </div>
</main>